/*RESET BASICO*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*ETIQUETAS HTML*/

body{
	font-family: "Lexend", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
 	font-style: normal;
 	background-color: #F1EFEC;

}

a{
	text-decoration: none;
	color: inherit;
}
article{
	display: flex;
}
p{
	margin: 0.5%;
}

ul,ol{
	list-style: none;
}
h1{
	font-size: 2em;
	margin-bottom: 1em;
}
h2{
	font-size: 1.3em;
	font-weight: 350;
}
h3{
	padding: 1.5em;
	min-height: 20%;
}

/*UTILIDADES*/

/*Fonts*/

.font-big-size{
	font-size: 2em;
}
.font-middle-size{
	font-size: 1.25em;
}
.font-small-size{
	font-size: 1em;
}

/*COLORES*/

.bg-primary{
	background-color: #123458;
}
.bg-secondary{
	background-color:  #D4C9BE;
}
.text-light{
	color: #E2E0C8;
}
.text-dark{
	color: #123458;
}

/*ESPACIOS Y LAYOUT*/

.padding-default{
	padding: 2%;
}
.margin-default{
	margin: 2%;
}
.rounded{
	border-radius: 20px;
}
.shadow-default{
	box-shadow: 0 8px 6px  #5C7285;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: justify;
}

/*IMAGENES*/

.img-small{
	max-width: 20%;
}
.img-medium{
	max-width: 60%;
}
.img-rounded{
	border-radius: 20px;
}

/*ACERCA DE MI*/

#about-me{
	font-weight: 400;
	font-size: 1em;
	padding: 1.5%;
}

/*PROYECTOS*/ 
#projects{
	padding: 1%;
}

.pcontent-info{
	display:flex;
	flex-direction: column;
	gap: 10%;
	font-size: 1.3em ;
	align-items: center;
	justify-content: center;
}

.project{
	display: flex;
	gap: 1%;
	padding: 1%;
}

/*SERVICIOS*/

#services{
	display: flex;
	flex-direction: column;
	padding: 3%;
}

#service-list{
	display: flex;
	padding-top: 5px;
	gap: 2%;
}

.service-img{
	margin: 1em;
}

.service{
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	flex-basis:25%;
	font-size: 1em;
	gap: 1%;
	padding: 1%;
}

/*INFORMACION DE CONTACTO*/
#contact-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact-paragraph{
	width: 100%;
	max-width: 95%;
	font-size: 1.2em;
	font-weight: 500;

}
#links{
	width: 100%;
	max-width: 80%;
	font-size: 1.1em;
}

