/*-----RESET-----*/


/*---------------*/
/*BOX-SIZING     */
/*---------------*/

*,*::before,*::after{
	box-sizing: border-box;
}

/*--------------------*/
/*BODY & TEXT ELEMENTS*/
/*--------------------*/

html,body{
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	font-weight: inherit;
}

/*---------------*/
/*lISTS----------*/
/*---------------*/

ul,ol{
	margin: 0;
	padding: 0;
	list-style: none;
}

/*------------------*/
/*IMGS & MEDIA------*/
/*------------------*/

img,video{
	max-width: 100%;
	height: auto;
	display: block;
}

/*----------------*/
/*LINKS-----------*/
/*----------------*/

a{
	text-decoration: none;
	color: inherit;
}

/*-------------------------*/
/*BOTONES Y FURMULARIOS----*/
/*-------------------------*/

button,input,textarea,select{
	font:inherit;
	color: inherit;
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
}

/*-----------------*/
/*TABLES-----------*/
/*-----------------*/

table{
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----FIN DEL RESET-----*/


/*ETIQUETAS HTML*/

body{
	font-family: "Lexend", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
 	font-style: normal;
 	background-color: #F1EFEC;

}

a{
	text-decoration: none;
	color: inherit;
}
article{
	display: flex;
}

ul,ol{
	list-style: none;
}
h1{
	margin-bottom: 1vw;
}

h3{
	padding: 1.5vw;
	min-height: 20%;
}

/*UTILIDADES*/

/*TEXTOS*/

.font-big-size{
	font-size: 2em;
}
.font-middle-size{
	font-size: 1.3em;
}
.font-small-size{
	font-size: 1em;
}


/*COLORES*/

.bg-primary{
	background-color: #123458;
}
.bg-secondary{
	background-color:  #D4C9BE;
}
.text-light{
	color: #E2E0C8;
}
.text-dark{
	color: #123458;
}

/*ESPACIOS Y LAYOUT*/

.padding-default{
	padding: 2%;
}
.margin-default{
	margin: 2%;
}
.rounded{
	border-radius: 20px;
}
.shadow-default{
	box-shadow: 0 8px 6px  #5C7285;
}
.text-center{
	text-align: center;
}
.text-justify{
	text-align: left;
}

/*IMAGENES*/

.img-small{
	max-width: 20%;
}
.img-medium{
	max-width: 40%;
}
.img-rounded{
	border-radius: 20px;
}

/*ACERCA DE MI*/

#about-me{
	font-weight: 400;
	padding: 1.5%;
}

/*PROYECTOS*/ 
#projects{
	padding: 1%;
}

.pcontent-info{
	display:flex;
	flex-direction: column;
	gap: 10%;
	align-items: center;
	justify-content: center;
}

.project{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: csnter;
	gap: 1%;
	padding: 1%;
}

/*SERVICIOS*/

#services{
	display: flex;
	flex-direction: column;
	padding: 3%;
}

#service-list{
	display: flex;
	flex-direction: column;
	padding-top: 5px;
	gap: 2%;
}

.service-img{
	margin: 1vw;
}

.service{
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	flex-basis:25%;
	gap: 1%;
	padding: 1%;
}

/*INFORMACION DE CONTACTO*/
#contact-info{
	display: flex;
	flex-direction: column;
}

#contact-paragraph{
	width: 100%;
	max-width: 95%;
	font-weight: 500;

}

