/*Reset basico*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Lexend", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
 	font-style: normal;
 	background-color: #F1EFEC;

}

header{
	text-align: center;
	margin: auto;
	padding: 2%;
	background-color:#123458;
	color: #E2E0C8;
	box-shadow: 0 8px 6px #5C7285 ;
}
footer{
	background-color:#123458;
	color: #E2E0C8;
}

a{
	text-decoration: none;
	color: inherit;
}
article{
	display: flex;
}
p{
	margin: 0.5%;
}

ul,ol{
	list-style: none;
}
h3{
	padding: 1.5vw;
	min-height: 20%;
}


#about-me{
	text-align: justify;
	font-size: 1vw;
	border-radius: 20px;
	padding: 1.5%;
	margin:2%;
	background-color:#123458;
	font-weight: 400;
	box-shadow: 0 8px 6px #5C7285;
	color: #E2E0C8;
}

.project-img{
	max-width: 20%;
	border-radius: 20px;
}

.pcontent-info{
	display:inline-flex;
	flex-direction: column;
	gap: 10%;
	font-size: 1.3vw ;
	align-items: center;
	justify-content: center;
}

.project{
	display: flex;
	gap: 1%;
	border-radius: 20px;
	padding: 1%;
	margin:2%;
	background-color:#D4C9BE;
	color: #123458;
	box-shadow: 0 8px 6px #5C7285;
}

#projects{
	text-align: center;
	background-color:#123458;
	border-radius: 20px;
	color: #E2E0C8;
	padding: 1%;
	margin:2%;
	box-shadow: 0 8px 6px #5C7285;
}

#services{
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color:#123458;
	border-radius: 20px;
	color: #E2E0C8;
	padding: 3%;
	margin:2%;
	box-shadow: 0 8px 6px #5C7285;
}
.service-img{
	max-width: 60%;
	border-radius: 20px;
	margin: 1vw;
}

.service{
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	flex-basis:25%;
	font-size: 1rem;
	gap: 1%;
	border-radius: 20px;
	padding: 1%;
	background-color:#D4C9BE;
	color: #123458;
	box-shadow: 0 8px 6px #5C7285;
	
}

#service-list{
	display: flex;
	padding-top: 5px;
	gap: 2%;
}

#contact-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#contact-paragraph{
	width: 100%;
	max-width: 95%;
	text-align: center;
	font-size: 1.2vw;
	font-weight: 500;

}
#links{
	width: 100%;
	max-width: 80%;
	text-align: center;
	font-size: 1.1vw;
}